{% extends 'appEncuestas/base.html' %}
{% block title %}Encuestas{% endblock %}

{% block content %}
<div class="table-wrapper">
    <h2 class="page-title">Listado de encuestas</h2>

    <div class="page-actions">
        <a href="{% url 'admin_panel' %}" class="btn btn-secondary">Volver al panel</a>
        <a href="{% url 'encuesta_create' %}" class="btn btn-primary">Nueva encuesta</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Activa</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for e in encuestas %}
            <tr>
                <td>{{ e.id_encuesta }}</td>
                <td>{{ e.nombre }}</td>
                <td>{{ e.descripcion }}</td>
                <td>{{ e.activa }}</td>
                <td>
                    <a href="{% url 'encuesta_update' e.id_encuesta %}">Editar</a> |
                    <a href="{% url 'encuesta_delete' e.id_encuesta %}">Eliminar</a> |
                    <a href="{% url 'resumen_encuesta' e.id_encuesta %}">Ver resumen</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
