<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Sistema de Encuestas{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'appEncuestas/css/styles.css' %}">
</head>
<body>
<header>
    <h1>Sistema de Encuestas Rápidas</h1>
    <nav>
        {% if request.session.tipo == 'admin' %}
            <a href="{% url 'admin_panel' %}" class="btn-link">Panel admin</a>
            <a href="{% url 'encuesta_list' %}" class="btn-link">Encuestas</a>
            <a href="{% url 'pregunta_list' %}" class="btn-link">Preguntas</a>
            <a href="{% url 'participante_list' %}" class="btn-link">Participantes</a>
        {% elif request.session.tipo == 'usuario' %}
            <a href="{% url 'usuario_panel' %}" class="btn-link">Panel usuario</a>
            <a href="{% url 'encuestas_asignadas' %}" class="btn-link">Mis encuestas</a>
        {% endif %}
        {% if request.session.tipo %}
            <a href="{% url 'logout' %}" class="btn btn-secondary">Salir</a>
        {% endif %}
    </nav>
</header>

<main>
    <div class="app-container">
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>
